@use '../variable.scss' as *;

.extension {
  grid-area: Extension;

  background-color: $primary-color-1;

  display: grid;
  grid-template-areas: "sectionTwoText sectionTwoImg";
  grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
  
  column-gap: 100px;
  align-items: center;

  padding: $main-vertical-padding $main-horizontal-padding;

  * {
    color: $second-color-3;
  }

}

.Customise {
  grid-area: Customise;

  background-color: $second-color-3;

  display: grid;
  grid-template-areas: "bImg bText";
  grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
  
  column-gap: 100px;
  align-items: center;

  padding: $main-vertical-padding $main-horizontal-padding;

  // * {
  //   color: $second-color-3;
  // }

}