@use '../variable.scss' as *; 

.HeroSection{
  grid-area: HeroSection;
  
  background-color: $primary-color-1;
  background-image: url('~/public/imgs/hero/BackgroundElement.png');
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
}