@use '../variable.scss' as *;

.sectionTwo {
  grid-area: SectionTwo;
  
  position: relative;

  display: grid;
  grid-template-areas: 
                      "sectionTwoText sectionTwoImg" 
                      "bImg bText";
  // grid-template-columns:  2fr 2fr;
  grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));;
  // grid-template-rows: 550px 660px;
  column-gap: 1em;
  row-gap: 100px;
  align-items: center;

  padding: $main-vertical-padding $main-horizontal-padding;

  .groupImg{
    z-index: 0;
    position: absolute;
    left: 0;
    opacity: 0.2;
  }

  
}
.sectionTwoText {
  grid-area: sectionTwoText;

  z-index: 1;
  h2 {
    margin-bottom: 24px;
  }

  p {
    line-height: 30px;
  }
  .sectionTwoButton {
    margin-top: 60px;
    font-size: 16px;
    padding: 16px 40px;
    border-radius: 8px;
    border: none;
    background-color: $primary-color-2;
    color: $second-color-3;
    
    position: relative;
    z-index: 1;
  }
}

.sectionTwoImg {
  grid-area: sectionTwoImg;
  place-self: center;
}

// ***********************************************
.bText {
  grid-area: bText;

  z-index: 1;
  h2 {
    margin-bottom: 24px;
  }

  p {
    line-height: 30px;
  }
  .bButton {
    margin-top: 60px;
    font-size: 16px;
    padding: 16px 40px;
    border-radius: 8px;
    border: none;
    background-color: $primary-color-2;
    color: $second-color-3;

    display: flex;
    flex-flow: row nowrap;
    // justify-content: flex-end;
    gap: 5px;
    align-items: center;
  }
}

.bImg {
  grid-area: bImg;
}