@use '../variable.scss' as *;

.sectionTwo {
  grid-area: SectionTwo;

  position: relative;

  display: grid;
  grid-template-areas:
    "sectionTwoText sectionTwoImg"
    "bImg bText";
  // grid-template-columns:  2fr 2fr;
  grid-template-columns: repeat(auto-fit, minmax(320px, 2fr));
  ;
  // grid-template-rows: 550px 660px;
  column-gap: 1em;
  row-gap: 100px;
  align-items: center;

  padding: $main-vertical-padding $main-horizontal-padding;

  .groupImg {
    z-index: 0;
    position: absolute;
    left: 0;
    opacity: 0.2;
  }


}

.sectionTwoText {
  grid-area: sectionTwoText;

  z-index: 1;

  h2 {
    margin-bottom: 24px;
  }

  p {
    line-height: 30px;
  }

  .sectionTwoButton {
    margin-top: 60px;
    font-size: 16px;
    padding: 16px 40px;
    border-radius: 8px;
    border: none;
    background-color: $primary-color-2;
    color: $second-color-3;

    position: relative;
    z-index: 1;
  }
}

.sectionTwoImg {
  grid-area: sectionTwoImg;
  place-self: center;
}

// ***********************************************
.bText {
  grid-area: bText;

  z-index: 1;

  h2 {
    margin-bottom: 24px;
  }

  p {
    line-height: 30px;
  }

  .bButton {
    margin-top: 60px;
    font-size: 16px;
    padding: 16px 40px;
    border-radius: 8px;
    border: none;
    background-color: $primary-color-2;
    color: $second-color-3;

    display: flex;
    flex-flow: row nowrap;
    // justify-content: flex-end;
    gap: 5px;
    align-items: center;
  }
}

.bImg {
  grid-area: bImg;
}



.chooseYourPlan {
  padding: $main-vertical-padding $main-horizontal-padding;

  // display: grid;

  .CYP_title {
    text-align: center;

    h1 {
      margin-bottom: 24px;
    }
  }

  .plans {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    // gap: 40px;

    margin: 60px 0px;

    .planCard {
      max-width: 450px;
      border: 1px solid $second-color-1;
      border-radius: 10px;
      padding: 40px 30px;
      margin: 20px;

      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 25px;

      ul {
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
      }

      button {
        padding: 16px 40px;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid $second-color-1;
        border-radius: 10px;
      }
    }

    .planCard:nth-child(2) {
      background-color: $primary-color-1;
      color: $second-color-3;
      transform: scale(1.1);
      padding: 80px 30px;
      border: none;

      h4 {
        color: $second-color-1;
      }

      button {
        background-color: $primary-color-2;
        color: $second-color-3;
        border: none;
      }
    }

  }
  overflow: visible;

}

.yourWork {
  padding: $main-vertical-padding $main-horizontal-padding;
  
  background-color: $primary-color-1;
  color: $second-color-3;
  
  text-align: center;
  
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
  position: relative;
  
  .YW_groupImg{
    z-index: 0;
    position: absolute;
    top: -220px;
    left: 0;
    opacity: 0.2;
    // overflow: visible;
  }
  overflow: visible;

  h1 {
    margin-bottom: 24px;
  }

  p {
    max-width: 1050px;
    margin-bottom: 60px;
  }

  button {
    background-color: $primary-color-2;
    color: $second-color-3;
    border: none;
    padding: 16px 40px;
    border-radius: 10px;
    display: inline-block;
  }

}

.section{   
  padding: $main-vertical-padding $main-horizontal-padding;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  // gap: 60px;
  // row-gap: 100px;
}

.ourSponsors{
  padding: $main-vertical-padding $main-horizontal-padding;

  text-align: center;
  
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
  gap: 100px
}