@use '../variable.scss' as *; 

.ps-main-header{
  max-width: 1920px;
  background-color: $primary-color-1;

  width: 100%;
  padding: 16px 220px;
  margin: 0px auto;

  display: grid;
  grid-template-areas: "logo navv";
  grid-template-columns: 2fr 3fr;

  align-items: center;

  .ps-header-logo { 
    grid-area: logo;
  }
  .ps-main-header-nav{
    grid-area: navv;
    display: grid;
    grid-template-areas: "links btns";
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
    // justify-items: stretch;


    .ps-main-header-nav-links{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
      gap: 34px;
      .ps-nav-link{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

      }
    }
    .ps-main-header-nav-btns{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      .ps-main-header-nav-login-btn{
        font-size: 16px;
        padding: 16px 40px;
        border-radius: 8px;
        border: none;
        background-color: $second-color-1;
        color: $primary-color-1;
        margin-right: 24px;
      }
      .ps-main-header-nav-free-trial-btn{
        font-size: 16px;
        padding: 16px 40px;
        border-radius: 8px;
        border: none;
        background-color: $primary-color-2;
        color: $second-color-3;
      }
    }
  }
  
  grid-template-columns: "1fr 3fr";
}